<footer class="main-footer">
    <div class="section-content">
        <p class="text-center">
            <span>© 2026 MKoding</span>
            <img class="theme-switch-icon" src="/|.svg" alt="" />
            <span>Ingeniería y dirección de software con criterio</span>
            <span>·</span>
            <span>Tudela / Navarra</span>
            <img class="theme-switch-icon" src="/<.svg" alt="" />
        </p>
    </div>
</footer>
